/* NavBar.css */

#navbar {
    background-color: #535bf2;
    color: white;
    padding: 10px 0;
  }
  
  #navlinks {
    display: flex;
    justify-content: center;
  }
  
  #navUl {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  #navUl li {
    font-weight: 500;
  }
  
  #navUl a {
    text-decoration: none;
    color: white;
    transition: color 0.2s;
  }
  
  #navUl a:hover {
    color: #ff9900;
  }
  